<footer>
  <mat-toolbar class="home-footer nav-items">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <h1>Logo</h1>
    </button>
    <span class="menu-spacer"></span>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>mail</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>facebook</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>phone</mat-icon>
    </button>
  </mat-toolbar>
</footer>
