.nav-list{
    li{
        align-items: center;
        margin-right: 15px;
        margin-left: 30px;
        list-style: none;
    }
}

.btns{
    background-color: #0069d9
}

.welcome{
  background-color: #efefef;
  margin: 5px 15px
}

.body{
  background-color: #efefef;
}

.headings{
  font-size: 35px;
}


